*.Release
*.o
*.Debug
*.exe
build/Debug/*
build/last_release_dev_very_light/*
build/last_release/*
build/Desktop_Qt_5_5_1_GCC_64bit-Debug/*
build/Desktop_Qt_5_5_1_GCC_64bit-Release/*
*.user
.kdev4/*
*.zip
