*.Release
*.o
release/moc_firescreen.cpp
release/moc_windcircle.cpp
release/moc_fwelcome.cpp
*.Debug
object_script.incendie.Debug
object_script.incendie.Debug
*.Release
*.exe
release/moc_windwidget.cpp
*.cpp
object_script.incendie.Release
*.Release
Makefile.Release