# Exectuables
*.Release
*.Debug
*.exe

# Build files
build/Android*
build/Last_release_dev_light/
build/Debug/
build/Profile/
build/Last_release/

*.o
build/release/

# IDE files
*.user
.kdev4/
incendie.pro.user.PC1812

# Archives
*.zip

# Doc
doc/html/
doc/xml/